<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>
  <h1>Rock, Paper, Scissors - can you win?</h1>
  <form action="/name" method="post">
    <label for="name">
      To login enter your name:
    </label>
    <input type="text" name="name">
    <input type="submit" value="Login">
  </form>
</center>
</div>
