<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>
  <h1>Rock, Paper, Scissors - can you win?</h1>
  <h2>To login enter your name:</H2>
</center>
</div>
