<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>
  <h1>Rock, Paper, Scissors - can you win?</h1>
  <form action="/1player" method="post">
    <input type="submit" value="One player">
  </form>
  <form action="/2player" method="post">
    <input type="submit" value="Two player">
  </form>
</center>
</div>
