<body background="https://us.123rf.com/450wm/markovka/markovka1401/markovka140101185/25326347-seamless-wave-hand-drawn-pattern-waves-background-seamlessly-tiling-can-be-used-for-wallpaper-patter.jpg?ver=6">

<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh; font-family:chalkboard; color:white">
<center>
  <h1>
  <%= "#{@chosen_move} vs #{@cp_move}" %> <br />
  <% if @winner == 'Draw!' %>
  <%= 'It is a draw!' %>
  <% end %>
  <% if @winner == true %>
  <%= "#{@name1} wins!" %>
  <% end %>
  <% if @winner == false %>
  <%= "#{@name2} wins!" %>
  <% end %>
  </h1>
  <form action="/playagain2" method="post">
    <input type="submit" value="Play again">
  </form>
</center>
</div>
