<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>
  <h1>
  <%= "#{@chosen_move} vs computers move" %> <br />
  <%= "Winner is:" %>
  </h1>
</center>
</div>
