<body background="https://us.123rf.com/450wm/markovka/markovka1401/markovka140101185/25326347-seamless-wave-hand-drawn-pattern-waves-background-seamlessly-tiling-can-be-used-for-wallpaper-patter.jpg?ver=6">

<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh; font-family:chalkboard; color:white">
  <center>
  <h1>Rock, Paper, Scissors - who will win?</h1><br />
  <div>
    <img height='400' width='600' src='http://arenagames.de/wp-content/uploads/2016/09/4647_1__29930.1333396943.1280.1280.jpg'
    </div>
    <h2> To play login by enter both of your names:</h2>
  <form action="/name2" method="post">
  <label for="player_1_name">
    Player 1 name:
  </label>
  <input type="text" name="player_1_name">
  <label for="player_2_name">
    Player 2 name:
  </label>
  <input type="text" name="player_2_name">
  <input type="submit" value="Login">
</form>
</center>
</div>
