<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>
  <h1>Rock, Paper, Scissors - who will win?</h1><br />
  <form action="/name2" method="post">
  <label for="player_1_name">
    Player 1 name:
  </label>
  <input type="text" name="player_1_name">
  <label for="player_2_name">
    Player 2 name:
  </label>
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
</center>
</div>
